@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://api.fontshare.com/v2/css?f[]=work-sans@2,1&display=swap);

:root {
  --ifm-color-primary: #fa5252;
  --ifm-color-primary-dark: #f93232;
  --ifm-color-primary-darker: #f92222;
  --ifm-color-primary-darkest: #d20606;
  --ifm-color-primary-light: #fb7272;
  --ifm-color-primary-lighter: #fb8282;
  --ifm-color-primary-lightest: #fdc3c3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --homarr-secondary-bg: #e8e8e8;

  --aa-primary-color-rgb: #fa5252 !important;
  --aa-muted-color-rgb: #fa5252 !important;
  --aa-background-color-rgb: 200,200,200 !important;

  --ifm-font-family-base: 'Work Sans', sans-serif;
  --ifm-color-content-inverse: var(--ifm-color-emphasis-100);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fa5252;
  --ifm-color-primary-dark: #f93232;
  --ifm-color-primary-darker: #f92222;
  --ifm-color-primary-darkest: #d20606;
  --ifm-color-primary-light: #fb7272;
  --ifm-color-primary-lighter: #fb8282;
  --ifm-color-primary-lightest: #fdc3c3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --homarr-secondary-bg: #181818;
  --ifm-color-content-inverse: var(--ifm-color-emphasis-100);


  --aa-primary-color-rgb: #fa5252 !important;
  --aa-muted-color-rgb: #fa5252 !important;
  --aa-background-color-rgb: 24,24,24 !important;
}

.aa-DetachedOverlay {
  backdrop-filter: blur(10px) brightness(0.5);
}

.aa-DetachedContainer {
  box-shadow: none !important;
}

.navbar__logo {
  margin-right: 1rem;
}

.aa-DetachedSearchButton,
form.aa-Form {
  border-radius: 0.5rem !important;
  border: none !important;
  background-color: #e8e8e8 !important;
}

[data-theme='dark'] .aa-DetachedSearchButton,
[data-theme='dark'] form.aa-Form {
  background-color: var(--ifm-scrollbar-track-background-color) !important;
  color: #e1e1e1;
}

[data-theme='dark'] .aa-DetachedSearchButton svg {
  color: #e1e1e1;
}

.swiper-slide {
  width: initial !important;
  height: auto !important;
  padding-bottom: 40px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background-color: var(--ifm-color-primary) !important;
}

.footer {
  background-color: var(--homarr-secondary-bg) !important;
}

.footer__copyright {
  color: var(--ifm-color-primary-lighter) !important;
}

.medium-zoom-overlay {
  background-color: var(--ifm-color-primary-lighter) !important;
}

.medium-zoom-image {
  border-radius: 0.5rem;
}

.menu__list {
  transition: all 0.s ease-in-out !important;
}

.announcementBar_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  background-color: transparent !important;
  background-image: radial-gradient(circle,  rgb(253, 126, 20) 0%, rgb(250, 82, 82) 100%) !important;
  font-weight: 600;
}

.dsla-search-wrapper {
  width: 300px;
}

.dsla-search-wrapper .aa-DetachedSearchButton svg {
  color: #9a9a9a;
}

.dsla-search-wrapper .aa-DetachedSearchButtonPlaceholder,
[data-theme="dark"] .dsla-search-wrapper .aa-DetachedSearchButton svg {
  color: #9a9a9a;
}

.medium-zoom-overlay {
  background-color: transparent !important;
  backdrop-filter: blur(10px) brightness(0.7);
}

.navbar__inner .navbar__items a.navbar__item,
.navbar__inner .navbar__items div.navbar__item.dropdown {
  white-space: nowrap;
}
.navbar__inner a.navbar__brand {
  font-size: 22px;
  color: var(--ifm-color-primary);
}

:is(p, h3, h4, h5, h6):has(+ :is(ul, ol)){
  margin-bottom: 4px !important;
}

.table-of-contents__left-border {
  border-left: none !important;
}

.thin-scrollbar.theme-doc-toc-desktop {
  background-color: var(--ifm-navbar-background-color);
  border-radius: 20px;
}

.table-of-contents__link--active {
  font-weight: bold !important;
}

.pagination-nav__link {
  background-color: var(--ifm-navbar-background-color);
  border: 4px transparent solid;
}

.row.theme-doc-footer-tags-row ul li a {
  border: none;
  background-color: var(--ifm-navbar-background-color);
  border-radius: 20px;
  padding: 6px 12px;
}