name: Argos CI Screenshots

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  take-screenshots:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Chrome and Build in Parallel
        run: |
          pnpm playwright install --with-deps chromium &
          pnpm docusaurus build &
          wait
      - name: Take screenshots with Playwright
        run: pnpm playwright test
      - name: Upload screenshots to Argos
        run: pnpm argos upload ./screenshots
